/* ---------------------------------------- UNIVERSAL STYLES ---------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
* {
    box-sizing: border-box; 
}

video {
    object-fit:fill;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + body {
    padding-top: 60px;
}

/* .scrollDown {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

 .scrollDown a {
    text-decoration: none;
}

.scrollDown p {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #fff;
}

.fa-chevron-down,
.fa-chevron-up {
    width: 50px;
    height: 50px;
    font-size: 32px;
    color: #fff;
    ;
}

.scrollDown:hover {
    transition: .2s ease;
} */

#website-name {
    margin-right: 1.5em;
    margin-left: .75em;
    font-family: 'Sorts Mill Goudy', Arial, Helvetica, sans-serif;
}

#loginButton {
    padding: 10px 45px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: #1968c9;
    color: #fff;
}

#loginButton:hover {
    background-color: #02bedf;
    transition: ease 0.25s;
    transform: scale(1.025);
    
}

.main-carousel {
    
}



/* ---------------------------------------- ANIMATIONS ---------------------------------------- */
/* -------------------------------------------------------------------------------------------- */

/* @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-25%);
    }
    15% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
.fa-chevron-down,
.fa-chevron-up {
    animation: bounce 5s infinite;
} */



/* ---------------------------------------- FLICKITY ---------------------------------------- */
/* ------------------------------------------------------------------------------------------ */

.carousel-cell {
    width: 100vw;
    height: 100vh;
    counter-increment: carousel-cell;
}

.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    font-size: 80px;
    line-height: 400px;
}

.carousel-cell img {
    background-image: url("img/change.jpeg");
}

/* .carousel-cell #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.carousel-cell .flickityOverlay {
    position: fixed;
    z-index: 2;
    bottom: 60%;
    right: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 40%;
    padding: 20px;
} */
